<h1>Burgers!</h1>

<h2>Burgers that have not been devoured!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> cats/cat-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> cats/cat-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>